:root {
	--body-n-nav: #f0f0f0;
	--primary-color1: #7a34db;
	--footer-n-hover: #5a208d;
	--color-2: #ffffff;
    --color-3: #dfccf0;
    --border: #cc9df2d7;
    --hamburger-bdr: #cc9df2e8;
    --header-footer-font: monospace;
}
* {
	box-sizing: border-box;
}
body {
	background-color: var(--body-n-nav);
	margin: 0;
	padding: 0;
	font: 1rem Arial, sans-serif;
	overflow-x: hidden;
	font-weight: 400;
}
.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
header {
	background-color: var(--primary-color1);
	color: var(--color-2);
	padding: 20px;
	text-align: center;
	position: relative;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

nav li a,
a:link {
	text-decoration: none;
	color: var(--color-2);
	padding: 10px 20px;
	border-radius: 5px;
}
nav li a:hover {
	background-color: var(--footer-n-hover);
}
.hamburger {
	display: none;
}
.close {
	display: none;
}
#menu[popover] {
	display: none;
}
#menu {
	display: none;
}
.logo-wrapper p.logo {
	display: none;
}
main {
	text-align: center;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	color: var(--primary-color1);
}
.footer p,
.footer a:link {
	text-align: center;
	color: var(--footer-n-hover);
    font-family: var(--header-footer-font);
	font-size: 0.75rem;
	padding: 0;
}

.footer a {
	text-decoration: underline;
}
.footer {
	display: flex;
	justify-content: space-around;
    box-shadow: rgba(122, 52, 219, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*--------------- Mobile layout --------------- */
@media all and (max-width: 540px) {
    .container {
        max-height: 100vh;
    }
    main {
        padding: 0 50px !important;
    }
	.hamburger {
		display: block; /* displayed only on small screens.*/
        width: 2.125rem;
        height: 2.125rem;
		background-color: var(--color-3);
		border: 1px solid var(--hamburger-bdr);
		border-radius: 2px;
		padding: 4px 6px;
        cursor: pointer;
        z-index: 2;
	}

	/* Menu styles without animation (initial state) */
	#menu {
		animation: slideUp 0.3s ease-in-out; /* Slide up initially */
	}

	#menu.show {
		animation: slideDown 0.3s ease-in-out; /* Slide down on show */
		display: block; /* Make menu visible when it has "show" class */
		margin: 0;
		border: none;

		border-top: 2px solid var(--border);
		background: var(--primary-color1);
		display: unset;
		position: absolute;
		top: 100%; /* Adjust top position based on header height */
		left: 0;
		width: 100%;
        z-index: 3;
	}
	#menu.show ul {
		margin: 0;
	}
	#menu.show li {
		padding: 10px 0;
		border-bottom: 1px solid var(--border);
	}
	header .logo-wrapper {
		display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
	}
	.logo-wrapper p.logo {
		display: unset;
		margin: 0;
		font-family: var(--header-footer-font);
        margin-left: -22px;
        font-size: 0.87rem;
	}
	.bigScreen {
		display: none;
	}
	nav ul {
		flex-direction: column;
		padding-inline-start: 0;
	}
	nav li a,
	a:link {
		color: var(--body-n-nav);
	}
	nav li a:hover {
		background-color: none;
		text-decoration: underline;
	}
	/* Keyframes for sliding down */
	@keyframes slideDown {
		from {
			transform: translateY(-10%);
		}
		to {
			transform: translateY(0);
		}
	}

	/* Keyframes for sliding up */
	@keyframes slideUp {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-100%);
		}
	}
	.footer {
		display: block;
	}
}
